@{
    ViewData["Title"] = "Accueil";
}
<link href="~/css/site.css" rel="stylesheet">
<div class="d-flex flex-column">
    <div class="image-index">
        <img src="~/images/banner1.jpg" />

        <div class="banner-texte">
            <h1>Commencez vos achats chez Mercadona</h1>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="~/Mercadona_logo_1983.svg" alt="Mercadona" class="img-fluid mb-4">
                <h2 class="mb-3">À propos de Mercadona</h2>
                <p>Mercadona est une entreprise de retail espagnole disposant de 1675 magasins à travers l'Espagne, réalisant un chiffre d’affaires de 20 milliards d’euros. Le succès de l'entreprise se dessine notamment à travers des promotions très fréquentes, avec un minimum d'une centaine de produits en promotion à tout moment de l'année.</p>
                <p>Cependant, Mercadona prend de plus en plus conscience que les énergies doivent être économisées et souhaite ne plus proposer des tracts papier, mais une application web pour leurs promotions.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="~/Ressources-entreprise-1280x640.png" alt="PromoWeb" class="img-fluid mb-4">
                <h2 class="mb-3">À propos de PromoWeb</h2>
                <p>PromoWeb est une ESN spécialisée dans le domaine du web, avec une expertise en développement d'applications web. Nous sommes ravis d'avoir été choisis par Mercadona pour les aider dans leur transition écologique.</p>
                <p>Notre équipe travaille actuellement sur le projet en collaboration avec José, le représentant de Mercadona, pour leur proposer une application web efficace et respectueuse de l'environnement.</p>
            </div>
        </div>
    </div>

</div>
