@model Mercadona.Models.PromotionsProduitsModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PromotionsProduitsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProduit" class="control-label"></label>
                @{
                    <select asp-for="IdProduit" asp-items="@(new SelectList(Model.Produits, "Id", "libelle"))" class="form-control"></select>
                }
                <span asp-validation-for="IdProduit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPromotion" class="control-label"></label>
                @{
                    <select asp-for="IdPromotion" asp-items="@(new SelectList(Model.Promotions, "Id", "Id"))" class="form-control"></select>
                }
                <span asp-validation-for="IdPromotion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}