@model Mercadona.Models.PromotionsProduitsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Produit</label>
                <input asp-for="IdProduit" class="form-control" />
                <span asp-validation-for="IdProduit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPromotion" class="control-label"></label>
                <input asp-for="IdPromotion" class="form-control" />
                <span asp-validation-for="IdPromotion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prixPromo" class="control-label"></label>
                <input asp-for="prixPromo" class="form-control" />
                <span asp-validation-for="prixPromo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
