@model Mercadona.Models.ProduitsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Nom</label>
                <input asp-for="libelle" class="form-control" />
                <span asp-validation-for="libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Prix</label>
                <input asp-for="prix" class="form-control" />
                <span asp-validation-for="prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Catégorie</label>
                @{
                    if (Model.CategoriesList != null)
                    {
                        <select asp-for="id_categorie" asp-items="@(new SelectList(Model.CategoriesList, "Id", "libelle"))" class="form-control"></select>
                    }
                    else
                    {
                        <p>No categories available</p>
                    }
                }
                <span asp-validation-for="id_categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Url de l'image</label>
                <input asp-for="url_image" class="form-control" />
                <span asp-validation-for="url_image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
